setuptools
# Hadron foundation
discovery-core
discovery-capability
# Structure packages
pyarrow
requests
# Data Science packages
pandas
numpy
scikit-learn
matplotlib
seaborn
scipy
# Database
duckdb
boto3
botocore
fsspec
s3fs
pymysql
sqlalchemy
pymongo
psycopg2-binary