###### Requirements without Version Specifiers ######
setuptools
pyarrow
numpy
pandas
requests
PyMuPDF
pymupdf4llm
sentence_transformers
spacy
transformers
accelerate
bitsandbytes
wheel
torch
tqdm
markdown
