setuptools
# Hadron foundation
discovery-core
# Structure packages
pyarrow
requests
# Data Science packages
pandas
numpy
scikit-learn
scipy
PyMuPDF
sentence_transformers
spacy
transformers
accelerate
bitsandbytes

